/* Обнуление */
body{
	background-color: #fafafa;
}
.container {
	max-width: 1070px;
	margin: 0 auto;
	padding:0 15px;
}

.title{
	
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
	letter-spacing: 0.2px;
	color: #252B42;
}
.text{
	
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #737373;
}
@media  screen and (max-width: 1040px) {
	.text{
	font-size: 14px;
    line-height: 26px;
	}
	.title{
		font-size: 27px;
    	line-height: 33px;
	}
}
.header{
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
}

.header__container {
	display: flex;
	align-items: center;
}
.header__logo {
	font-weight: 700;
	font-size: 24px;
	line-height: 104px;
	margin: 0 135px 0 0;
	letter-spacing: 0.1px;
}
@media screen and (max-width:600px) {
	.header__logo {
		margin: 0 40px 0 0;
	}
	}
.header__list {
	display: flex;
	margin-left: 0;
	padding-left: 0;
}
.header__link{
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	color: #737373;
	cursor: pointer;
	transition: all 0.3s;
}
.header__link:hover{
	text-decoration: underline;
}
.header__list-item:hover{
	color: #FF7B47;
	transition: all;
}
.header__list-item + .header__list-item {
	margin-left: 21px;
}
/* ---------------finance--------------------- */

.finance {
	padding-top: 184px;
	position: relative;
}
.finance__conten {
	display: flex;
	flex-direction: column;
	max-width: 510px;
	z-index: 2;
	position: relative;
}
.finance__title {
	margin: 0;
	padding: 0;
	font-weight: 800;
	font-size: 58px;
	line-height: 80px;
	letter-spacing: 0.2px;
}
@media screen and (max-width:1040px) {
.finance__title {
	margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
}
}
.finance__text {
	margin-top: 35px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.2px;
	color: #737373;
}
@media screen and (max-width:1040px) {
	.finance__text {
		font-size: 18px;
    	line-height: 25px;
	}
}

.finance__btn {
	margin-top: 50px;
	display: flex;
	padding-bottom: 190px;
}
.finance__link {
	padding: 10px 36px;
	border: 1px solid #0D5C63;
	background-color: none;
	border-radius: 36px;
	font-weight: 700;
	line-height: 48px;

	text-align: center;
	letter-spacing: 0.2px;
	color: #0D5C63;
	text-decoration: none;
	transition: all 0.3s;
}
.finance__link + .finance__link{
margin-left: 15px;
}
.finance__link:hover{
	background-color:#FF7B47;
	border: 1px solid #FF7B47;
	color: #fff;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.main__block-img{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}
@media (max-width: 1300px) {
	.main__block-img img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main__block-img {
		opacity: 0.5;
	}
}
@media screen and (max-width:396px) {
	.finance__btn {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		padding-bottom: 190px;
		justify-content: center;
	}
	.finance__link {
	margin-top: 25px;
	}
	.finance__link + .finance__link {
		margin-left: 0;
	}
}

/* ---------------service----------------- */
@media screen and (min-width:1040px) {
	.service__list {
	margin-top: -100px;
	display: flex;
	padding: 0;	
}
.service__item-service {

	padding: 35px 40px;
	width:calc(100% / 3);
	background-color:#FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	z-index: 3;
	transition: all 0.3s;
}
.service__item-service + .service__item-service{
	margin-left: 30px;
}
}

@media screen and (max-width:1040px) {
	.service__list {
		margin-top: -100px;
		display: flex;
		flex-wrap: wrap;
		padding: 0;	
		justify-content: center;
	}
	.service__item-service{
		flex: 1 0 33.333%;
		margin: 31px 15px 0 15px;
		padding: 35px 40px;
		background-color:#FFFFFF;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
		  border-radius: 4px 4px 4px 4px;
		cursor: pointer;
		z-index: 3;
		transition: all 0.3s;
	}
	.service__item-service:last-child{
		flex: 1 0 50%;
		justify-content: center;
}
}

.item-sevice__image {
	fill: #737373;
}

.service__item-service:hover{
	background-color: #737373;	
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12), 3px 3px 3px rgba( 0.2,  0.2,  0.2,  0.2),
    3px 3px 3px rgba( 0.2,  0.2,  0.2, 0.2);
}
.service__item-service:hover .item-sevice__image{
	fill: #fff;
}
.service__item-service:hover .item-service__text{
	color: #fff;
}
.service__item-service:hover .item-service__title{
	color: #fff;
}
.item-service__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.1px;
}
.item-service__text{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
		
	letter-spacing: 0.2px;
	color: #737373;
}

/* --------------------------------------------------- */
.advantages__title {
	margin: 80px 0 0 0;
}

.advantages__text {
	margin: 10px 0 50px 0;
}
.list{
	margin: 0 -15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}

.item{
	display: flex;
	background-color:#FFFFFF;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 230px;
	margin: 15px 15px 15px;
}


.advantages__item-img {
	padding: 30px 70px;
	width: 48px;
	height: 48px;
}

.advantages__item-number {
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
	letter-spacing: 0.2px;
	color: #252B42;
	padding: 10px 0 10px 0;
	margin: 0;  
}

.advantages__item-name {
	margin: 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #737373;
	padding-bottom: 25px;

}
/* ------------------practice----------------------- */
.practice__item-img{
	width: 100%;
}

.practice__item {
	justify-content: space-between;
	margin-top: 70px;
	margin-bottom: 70px;
}
	@media screen and (max-width:1040px) {
		.practice__item{
			margin-bottom: 0px;
		}
		.practice__item:last-child{
			margin-top: 30px;

		}
	}
@media screen and (max-width: 779px){
.practice__item:last-child {
    margin-bottom: 30;
}

.practice__item {
    justify-content: space-between;
    margin-top: 30px;
}
}

.practice__title{
	margin-top: 75px;
}

.practice__item-title {
	padding: 30px 30px 7px 30px;
	margin: 0;
	font-size: 16px;
    line-height: 24px;
	
}
.practice__item-text {
	padding: 7px 30px 30px 30px;
	margin: 0;
	
}
.practice__item-img {
	/* padding-top: 30px; */
	position: end;
}
/* -----------------whoweare----------------------- */
.whoweare{
	background-color: #fff;
	padding-bottom: 215px;
}
.whoweare__title {
	padding-top: 100px;
}
.whoweare__text {
	margin-bottom: 100px;
}
.whoweare__box {
	display: flex;
	align-items: flex-start;
	
}
.whoweare__video{
	flex: 0 0 57%;
	position: relative;
	padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
  }

.content-whoweare {
	display: flex;
	flex-direction: column;
	margin-left: 120px;
	justify-content: space-between;
}
@media screen and (max-width: 1040px){
	.content-whoweare {
		margin-left: 90px;
		
	}
}
@media screen and (max-width:910px) {
	.whoweare__box {
		display: flex;
		align-items: center;
		flex-direction: column;
		
	}
	.whoweare__video {
		width: 75%;
		position: relative;
		padding: 0px 0px 50% 0px;
	}
	.content-whoweare {
		margin-left:50px;
		margin-top: 50px;
	}
}
.content-whoweare__title {
	text-align: start;
}
.content-whoweare__text {
	text-align: start;
}
.content-whoweare__list {
	display: flex;
	flex-direction: column;
	margin-top: 40px;

}

.content-whoweare__item + .content-whoweare__item {
	margin-top: 20px;
}
.content-whoweare__item--title {
	position: relative;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #252B42;
}
.content-whoweare__item--text {
	margin-top: 5px;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: #737373;
}
.title1::before{
	content: "";
	position: absolute;
	top: 0;
	left: -40px;
	padding-right: -35px;
	width: 32px;
	height: 32px;
	background-image: url(../img/whoweare/icons/01.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.title2::before{
	content: "";
	position: absolute;
	top: 0;
	left: -40px;
	padding-right: -35px;
	width: 32px;
	height: 32px;
	background-image: url(../img/whoweare/icons/02.svg);
	background-position: center;
	background-repeat: no-repeat;
}
/* -----------------clients--------------------- */
@media screen and (min-width:757px) {
.clients__list {
	margin: 57px 0 20px 0;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}
.clients__item:not(:last-child){
	margin-right: 30px;
}
}
@media screen and (max-width:756px) {
	.clients__list {
		display:flex;
		flex-wrap: wrap;
		justify-content: flex-start;		
	}
	.clients__item{
		margin-top: 50px;
	}
	.clients__item:not(:last-child){
		margin-right: 30px;
	}
}

/* -------------subscribe------------------------------ */

.subscribe__backround{
	margin-top: 80px;
	left: 0;
	position: absolute;
	background-color: #252B42;
	width: 100%;
	height: 75px;
}
.subscribe__content {
	position: relative;
	z-index: 2;
	display: flex;
	margin: 80px 50px;
	background-color:#17213C;
	align-items: center;
	border-radius: 4px;
	justify-content: space-between;
}
.subscribe__text{
	display: block;
	max-width: 266px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 30px;
	padding-right: 20px;
}
.input-subscribe {
	display: flex;
	padding-top: 33px;
	padding-bottom: 33px;
}
.subscribe__text {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.1px;
	color: #FFFFFF;
}

.input-subscribe-text::placeholder{
	padding-left: 15px;
}
.input-subscribe__btn {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-align: center;
	color: #fff;
	transition: all 0.3s ease 0s;
	padding: 0px 22px;
	margin-right: 25px;
}

@media screen and (max-width:1040px) {
	.subscribe__text {
		font-size: 20px;
	}
}
.input-subscribe-text {
	width: 100%;
	flex: 1 1 auto;
	min-height: 58px;
	background: #f9f9f9;
	color: #737373;
	padding: 0px 20px;
	border: 1px solid #e6e6e6;
	border-right: 0;
	box-sizing: border-box;
	border-radius: 5px 0 0 5px;
}


@media screen and (max-width:600px) {
	.subscribe__content {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		margin: 80px 50px;
		background-color:#17213C;
		align-items: center;
		border-radius: 4px;
		justify-content: space-between;
	}
	.input-subscribe__btn {
		padding: 0px 5px;
		margin: 0;
		font-size: 12px;
	}
	.input-subscribe-text {
		font-size: 12px;
	}
	
	
}

.input-subscribe__btn:hover{
	background-color:#252B42;
}
/* ---------------getintouch------------------- */

.getintouch__title {
	margin-top: 80px;
}
.getintouch__text {
	margin-top: 15px;
}
.getintouch__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 100px 0 100px 0;
}

.item__getintouch {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	background-color: #fff;
}

.item__getintouch-img {
	width: 72px;
	height: 72px;
	margin-top: 50px;
	margin-bottom: 20px;
	fill: #0D5C63;
}
.item__getintouch-mail {
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;	
	text-align: center;
	letter-spacing: 0.2px;
	color: #252B42;
	padding: 5px 30px 5px 30px;
	text-decoration: none;
}
.item__getintouch-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #252B42;
}
.item__getintouch-btn {
	padding: 10px 20px;
	margin: 20px 30px;
	border: 1px solid red;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #FF7B47;
	background-color: inherit;
	border-radius: 4px;
	cursor: pointer;
}
@media screen and (min-width:873px) {
.item__getintouch:hover .item__getintouch-mail{
	color: #fff;
}
.item__getintouch-mail:hover {
	text-decoration: underline;
}
.item__getintouch:hover .item__getintouch-btn{
	color: #FFFFFF;
	border: 1px solid #fff;
} 
.item__getintouch:hover .item__getintouch-text {
	color: #fff;
}
.item__getintouch:hover .item__getintouch-img{
	fill: #FFFFFF;
}
.item__getintouch:hover{
	background-color: #252B42;
	color: #fff;
	padding: 20px 30px;
	margin: -20px -30px;
	z-index: 20;
	transition: all .35s;
	box-shadow: 0 10px 90px rgba(0, 0, 0, 0.4);
}
}
@media screen and (max-width:872px) {
	.item__getintouch{
		margin-top: 35px;
	}
	.item__getintouch + .item__getintouch{
		margin-left: 35px;
	}
	.item__getintouch:hover .item__getintouch-mail {
		text-decoration: underline;
	}
	.item__getintouch:hover .item__getintouch-btn{
		color: #FF7B47;
		background-color: #252B42;
	}
}

@media screen and (max-width:626px) {
	.item__getintouch {
		margin-top: 30px;
	}
	.item__getintouch + .item__getintouch{
		margin-left: 30px;
	}

}
@media screen and (max-width:621px) {
	.item__getintouch {
		margin-top: 30px;
	}
	.item__getintouch + .item__getintouch{
		margin-left: 0px;
	}

}

/* -------------------contac---------------------- */
.contact{
	background-color: #fff;
}
.contactus {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;

}
.contact__content{
	display: flex;
	flex-direction: column;
	margin-left: 20px;

}
.contact__button{
	text-align: center;
}
.contact__btn{
	display: inline-block;
	background-color:#FF7B47;
	border: 1px solid #FF7B47;
	border-radius: 4px;
	padding: 15px 50px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.2px;
	text-decoration: none;
	margin-right: 40px;
	
}
@media screen and (max-width:584px) {
	.contact__btn{
		margin-right: 0px;
	}
}


.contact__btn:hover{
	background-color:#252B42;
}
.contact__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.1px;
	color: #252B42;
	padding-right: 15px;
}
.contact__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #737373;
	padding-top: 25px;
}
@media screen and (max-width:733px) {
	.contact__btn{
	    padding: 10px 14px;
}
.contact__title {
	font-size: 20px;
    line-height: 26px;
}
.contact__text {
	font-size: 12px;
	line-height: 12px;
}
}
@media screen and (max-width:584px) {
.contactus {
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 40px 0;
}
.contact__btn{
	margin-top: 20px;
}
}
/* ---------------------------------------------- */
.footer__top {
	background-color: #17213C;
	color: #FFFFFF;
}
.footer__row {
	display: grid;
	grid-template-columns: repeat(4, 1fr) 2fr;
	padding: 50px 0;
}
@media screen and (max-width:772px) {
	.footer__row {
		display: grid;
		grid-template-columns: repeat(2, 2fr) 1fr;
		padding: 50px 0;
		margin-top: 30px;
	}
	.footer__colum {
		justify-content: center;
		align-items: center;
		margin: 0;
	}
}
@media screen and (max-width:772px) {
	.footer__row {
		display: grid;
		grid-template-columns: repeat(2, 2fr) 1fr;
		padding: 50px 0;
		margin-top: 30px;
	}
	.footer__colum {
		justify-content: center;
		align-items: center;
		margin: 0;
	}
}



.footer__colum {
justify-content: center;
align-items: center;
margin: 0 30px 0 0;

}
@media screen and (max-width:600px) {
	.footer__row {
		display: grid;
		grid-template-columns: repeat(1, 2fr) 1fr;
		padding: 50px 0;
		margin-top: 30px;
	}
	.footer__colum {
		justify-content: center;
		align-items: center;
		margin-top: 40px;
	}
}
@media screen and (max-width:400px) {
	.footer__row {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 30px;
	}
	.footer__colum {
		justify-content: center;
		align-items: center;
		margin-top: 40px;
	}
}
.footer__title {
	margin-bottom: 20px;
}

.footer__item {
	margin-bottom: 10px;
}

.footer__contac {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.footer__contac > a{
	color: #FFFFFF;
	text-decoration: none;
}
.contact-img {
	margin-right: 10px;
}
.footer__main{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0;
	color: #17213C;
}
.footer__social{
	display: inline-block;
	margin-left: 20px;
}
.footer__social:last-child{
	margin-right: 30px;
}
.footer__botom-text{
	margin-right: auto;
}
